* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background: #F5F6F8;
    --shadow: 0 50px 100px rgba(50, 50, 93, 0.05),
    0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
}
label {
    font-size: 25px;
}
input {
    font-size: 20px;
    border: 1px solid black;
}


.mainSearch {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
}

.mainPage {
height: 100vh;
width: 100%;
}
.resultsPage {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.resultsLegend {
    display: flex;
    padding-left: 10px;
    border-bottom: 1px solid lightgray;
   align-items: center;
    width: 100%;
    min-height: 50px;
}

.wrapper{
    display: flex;
    flex-direction: row;
    height: 200%;
    padding: 0 20px;
    overflow: hidden;

}
.number {
    color: #939CA8;
    background: none;
}
.numberResults {
    font-size: 20px;
}
.searchArea {
position: relative;
padding: 0 10px;
width: 100%;
height: fit-content;
}
.searchBar {
  position: sticky;
  top: 0;
    display: flex;
    margin: auto;
    height: 5vh;
    width: 100%;
    border-radius: 10px;
    background: #fff;
    box-shadow: var(--shadow);
}
.displayArea {
    position: absolute;
    right: 10px;
    padding: 0 20px 0px 20px;
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    margin-right: 10px;
    width: 75%;
    height: 100%;
    overflow: auto;
    border-radius: 15px;
    background: #fff;
    box-shadow: var(--shadow);
}
.results{
width: 100%;
}
.results li {
border-bottom: 1px solid lightgrey;
display: flex;
flex-direction: row;
justify-content: space-evenly;
height: fit-content;
width: 100%;
padding: 20px 0 20px 0;
}
.results li label {
    font-size: 15px;
    color: #939CA8;

}
.results li h3 {
    font-size: 18px;
    margin: 5px 0;
}
.title{
    font-size: 32px;
    color: #4A99E7;
    margin: 20px 0;
}
.image{
    border-radius: 8px;
    width: 310px;
    height: 230px;
}
.pictureContainer{
    flex: 1;
    display: flex;
    align-items: center;
    margin-right: 5px;
}
.details{
    flex: 1;
    min-width: 450px;
    padding-left: 10px;
    padding-right: 3px;
}
.links {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    border-left: 1px solid lightgray;
}

.dealership{
    background: #64D370;
    cursor: pointer;
    border: none;
    padding: 10px 25px;
    margin: 10px 0;
    border-radius: 6px;
    color: #fff;
    text-align: center;
}
.price{
    background: #F3F4F5;
    padding: 10px 25px;
    margin: 10px 0;
    border-radius: 6px;
    text-align: center;
}
.rows{
    display: flex;
    flex-direction: row;
}
.row{
    margin: 0 10px;
}
.filtersArea {
/*background: rgb(0, 76, 218); */
background: #fff;
position: sticky;
position: -webkit-sticky;
bottom: 0;
z-index: 3;
width: 20%;
margin-top: 2vh;
height: 100vh;
border-radius: 15px;
margin-right: 10px;
box-shadow: var(--shadow);
overflow: auto;
-ms-overflow-style: none;
}
.filtersArea::-webkit-scrollbar {
    display: none;
  }


/*---------- filters ----------- */
.filtersHeader {
    display: flex;
    padding-left: 10px;
    border-bottom: 1px solid lightgray;
   align-items: center;
    width: 100%;
    height: 50px;
}
#filtersText {
    font-size: 20px;
}
.filter_form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.body_types {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;  
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.body_types input{
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.body_types label{
    width: auto;
    border: none;
    border-radius: 16px;
    padding: 20px;
    margin: 10px 10px 0 0 ;
    background: #F3F4F5;
    position: relative;
}
.body_types label img {
    object-fit: cover;
    height: 70px;
    width: 70px;
    margin: 0;
}
.body_types label h3 {
    text-align: center;
    z-index: 3;
    position: absolute;
    bottom: 20px;
    left: 25%;
    right: 25%;
    font-size: 16px;
    font-weight: 100;
}

:checked + label {
    border: 1px solid #649AC6;
    background: #F7FCFF;
}

#bodyRow {
    display: flex;
    flex-direction: row;
}

#rangeSlider {
    width: 80%; 
    height: 2px;
    background: #E3E8ED;
    -webkit-appearance: none; 
    appearance: none;
    outline: none;
    margin-top: 20px;
}
#rangeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #489AEB;
    cursor: pointer;
}
.headerContainer {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
padding: 10px 0 0 20px;
}
.Header {
    color: #8C92A0;
    font-size: 20px;
}
#rangeLabel {

}
.distance {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 80%;

    border-bottom: 1px solid lightgray;
    padding: 20px 0;

}

.rangeContainer {
    display: flex;
    flex-direction: row;

    align-items: center;
    width: 100%;
}
.priceMiles {
    display: flex; 
    flex-direction: column;
    width: 80%;
   align-items: center;
}
.priceMiles input {
    width: 45%;
    margin: 10px 5px;
}
#priceSection {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.carType {
    display: inline-flex;
    flex-direction: column;
    width: 80%;
    
}

#carTypeLabel {
    margin-bottom: 20px;
}

.carType label {
    margin-bottom: 8px;
}

#filterSubmit {
    width: 80%;
    background: #489AEB;
    cursor: pointer;
    border: none;
    text-align: center;
    border-radius: 6px;
    margin: 10px 0;
    color: #fff;
}
