* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background: #f4f6ff;
}

button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
}
label {
    font-size: 25px;
}
input {
    font-size: 20px;
    border: 1px solid black;
}


.mainSearch {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
}

.mainPage {
height: 100vh;
width: 100%;
}
.resultsPage {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.resultsLegend {
    display: flex;
    padding-left: 10px;
    border-bottom: 1px solid lightgray;
   align-items: center;
    width: 100%;
    min-height: 50px;
}

.wrapper{
    display: flex;
    flex-direction: row;
    height: 200%;
    padding: 0 10px;

}
.numberResults {
    font-size: 20px;
}
.searchArea {
position: relative;
padding: 0 10px;
width: 100%;
height: fit-content;
}
.searchBar {
  position: sticky;
  top: 0;
    display: flex;
    margin: auto;
    height: 10vh;
    width: 100%;
    border-radius: 16px;
    background: #fff;
}
.displayArea {
    position: absolute;
    right: 0px;
    padding: 0 20px 0px 20px;
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    width: 70%;
    height: 100%;
    overflow: auto;
    border-radius: 16px;
    background: #fff;
}
.results{
width: 100%;
}
.results li {
border-bottom: 1px solid lightgrey;
display: flex;
flex-direction: row;
justify-content: space-evenly;
height: fit-content;
width: 100%;
padding: 20px 0 20px 0;
}
.results li label {
    font-size: 15px;
    color: darkgrey;

}
.results li h3 {
    font-size: 18px;
    margin: 5px 0;
}
.title{
    font-size: 32px;
    color: rgb(38, 107, 255);
    margin: 20px 0;
}
.image{
    border-radius: 30px;
    width: 300px;
    height: 230px;
}
.pictureContainer{
    flex: 1;
    display: flex;
    align-items: center;
    margin-right: 5px;
}
.details{
    flex: 1;
    min-width: 450px;
    padding-left: 10px;
    padding-right: 3px;
}
.links {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    border-left: 1px solid lightgray;
}
.dealership{
    background: rgb(3, 199, 62);
    cursor: pointer;
    border: none;
    padding: 10px 25px;
    margin: 5px 0;
    border-radius: 16px;
    color: #fff;
    text-align: center;
}
.price{
    background: lightgray;
    padding: 10px 25px;
    margin: 5px 0;
    border-radius: 16px;
    text-align: center;
}
.rows{
    display: flex;
    flex-direction: row;
}
.row{
    margin: 0 10px;
}
.filtersArea {
/*background: rgb(0, 76, 218); */
background: #fff;
position: sticky;
position: -webkit-sticky;
bottom: 0;
z-index: 3;
width: 28%;
margin-top: 2vh;
min-height: 98vh;
border-radius: 16px;
margin-right: 10px;
}


/*---------- filters ----------- */
.filtersHeader {
    display: flex;
    padding-left: 10px;
    border-bottom: 1px solid lightgray;
   align-items: center;
    width: 100%;
    height: 50px;
}
#filtersText {
    font-size: 20px;
}
.filter_form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.body_types {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.body_types input{
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.body_types label{
    width: auto;
    border: 1px solid black;
    border-radius: 16px;
    padding: 20px;
    margin: 10px 10px 0 0 ;
    background: lightgray;
    position: relative;
}
.body_types label img {
    object-fit: cover;
    height: 70px;
    width: 70px;
    margin: 0;
}
.body_types label h3 {
    text-align: center;
    z-index: 3;
    position: absolute;
    bottom: 20px;
    left: 25%;
    right: 25%;
    font-size: 16px;
    font-weight: 100;
}

:checked + label {
    border: 1px solid yellow;
    background: yellow;
}

#bodyRow {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

#rangeSlider {
    width: 80%; 
    height: 2px;
    background: #d3d3d3;
    -webkit-appearance: none; 
    appearance: none;
    outline: none;
    margin-top: 20px;
}
#rangeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

.Header {
    color: lightgray;
    font-size: 20px;
}
#rangeLabel {

}
.distance {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 80%;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 20px 0;
    margin: 20px 0;
}